.college-info {
    text-align: center;
  }
  
  .college-info img {
    width: 100px; /* Adjust size as needed */
    height: auto;
    margin-bottom: 10px;
    align-self: center;
  }
  
  .college-info h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .college-info p {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  /* Adjust font sizes, margins, colors, etc., as needed */
  