.container {
  max-width: 800px;
  margin: 0 auto;
}

.container h2 {
  text-align: center;
}

.container .filters {
  margin-bottom: 20px;
  text-align: center;
}

.container .filters label {
  margin-right: 10px;
}

.container .filters input, .container .filters select {
  margin-right: 20px;
}

.container table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.container table th,
.container table td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: center;
}

.container table th {
  background-color: #86b8ec;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

.container table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.container table tbody tr:hover {
  background-color: #e0e0e0;
}

.container table tbody tr:hover td {
  background-color: #ddd;
}

.container .counts {
  text-align: center;
}

.container .counts p {
  margin: 5px 0;
}
